* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

h1,h2,h3,p {
    padding: 0 0;
    margin: 0 0;
}

h1 {
    color: forestgreen;
}

h2 {
    color: teal;
}

p {
    color: steelblue;
}

header {
    background-color: aquamarine;
    padding-bottom: 30px;
    margin: 0px 0px;
}

nav {
    background-color: tomato;
    padding-bottom: 30px;
}

section {
    background-color: yellow;
    padding: 20px;
    width: 70%;
    display: inline-block;
    vertical-align: top;
    min-height: 150px;
}

article {
    background-color: orange;
    margin-bottom: 5px;
}

aside {
    background-color: beige;
    width: 29%;
    display: inline-block;
    min-height: 150px;
    vertical-align: top;
}

footer {    
    background-color: cyan;
    padding-bottom: 30px;
}